

<div id="CreateNewTable">
<h1 mat-dialog-title>Create New Table</h1>
  <form class="my-form" [formGroup]="createTableForm">
<div mat-dialog-content (keyup.enter) ="onNoClick()">
  <mat-form-field>
    <mat-label>Выберите Клиентку</mat-label>
    <mat-select formControlName="client">
      <ng-container *ngFor="let row of client">
    <mat-option  value="{{row.id | number}}">{{row.full_name}}</mat-option>
      </ng-container>
    </mat-select>
    </mat-form-field>
  <mat-form-field>
    <mat-label>Выберите Оператора</mat-label>
    <mat-select formControlName="operator">
    <ng-container *ngFor="let row of operator">
    <mat-option  value="{{row.id | number}}">{{row.username}}</mat-option>
      </ng-container>
      </mat-select>
  </mat-form-field>
  <mat-form-field formControlName="tableType">
    <mat-label>Table Type</mat-label>
    <mat-select formControlName="client">
    <mat-option value="true" >OP</mat-option>
    <mat-option value="false">FP + PP</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Выберите месяц</mat-label>
    <mat-select formControlName="month">
    <mat-option value="1"> January</mat-option>
    <mat-option value="2"> February</mat-option>
      <mat-option value="3"> March</mat-option>
      <mat-option value="4"> April</mat-option>
      <mat-option value="5"> May</mat-option>
      <mat-option value="6"> June</mat-option>
      <mat-option value="7"> July</mat-option>
      <mat-option value="8"> August</mat-option>
      <mat-option value="9"> September</mat-option>
      <mat-option value="10"> October</mat-option>
      <mat-option value="11"> November</mat-option>
      <mat-option value="12"> December</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()">Create Table</button>
</div>
    </form>
</div>
