<app-header></app-header>
<mat-tab-group (selectedTabChange)="onTabChange($event)" >
  <ng-container *ngFor="let tab of tabs">
    <mat-tab [label]="tab.label">
      <ng-container [ngTemplateOutlet]="dataTableTemplate" [ngTemplateOutletContext]="{'label': tab.label}"></ng-container>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<ng-template #dataTableTemplate let-label="label">
  <app-table *ngIf="label === currentMonth" [displayedColumns]="displayedColumns" [dataSource$]="dataSource$"></app-table>
</ng-template>
